@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


.home-page {
    height: 900px;
    background-image: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;
}

.welcome-text {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
}

.movie-icon {
    margin-right: 10px;
}

.shown-movies,
.genre-list,
.time-trending-list {
    list-style-type: none;
    padding-left: 0;
}

.genre-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: 20px;
}

.shown-movies a,
.genre-list a {
    text-decoration: none;
}

.shown-movies a {
    color: white;
    border-bottom: white 0.125em solid;
}

.genre-list a {
    color: black;
    border-bottom: black 0.125em solid;
}

.shown-movies li {
    padding-bottom: 10px;
    font-size: 20px;
}

.genre-list li,
.time-trending-list li {
    padding-bottom: 6px;
}

.search-button {
    background-color: rgb(255, 123, 38) !important;
    border: 0;
}

.time-trending-list li {
    cursor: pointer;
    text-decoration: underline;
    font-size: 25px;
}

.trending-time-container {
    padding: 20px;
}